.section-blue {
	height: 100vh;
	position: relative;

	h1 {
		margin-bottom:  45px;
	}

	p {
		margin-bottom: 20px;
	}

	.contact-addr {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 420px) {
			justify-content: center;
		}
		.contacs {
			.addr-title {
				display: block;
				font: 300 30px 'Lato', sans-serif;
				margin-bottom: 25px;
			}

			.addr-title2 {
				display: block;
				font: bold 20px 'Lato', sans-serif;
				margin-bottom: 18px;
			}

		
			.addr {
				display: block;
				font: 16px 'Lato', sans-serif;
				margin-bottom: 80px;
			}

			.phone-links a {
				margin: 0 auto;
				display: block;
				text-decoration: none;
				color: #fff;
			}
		}

		.map {
			border-radius: 5px;
			overflow: hidden;
			margin-left: 40px;
			margin-top: 65px;
			margin-bottom: 20px;
		}
		 iframe {
			width: 260px;
			height: 220px;

		}

		.contact-form {
			margin: 0 20px 0 50px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			align-items: center;
	

			h2 {
				font: 300 30px 'Lato', sans-serif;
				margin-bottom: 30px;
				width: 100%;
			}

			.inputs {
				display: flex;
				margin-bottom: 20px;
				width: 100%;

			input[type="text"],
			input[type="email"] {
				padding: 0 20px;
	 			display: block;
				width: 48%;
				height: 40px;
				background: #68a097;
				border: 0;
				border-radius: 5px;
				
				&:focus {
					background: #fff;
				}
			}

			input[type="text"]{
				margin-right: 2%;
			}
			
		}

			textarea {
				max-height: 160px;
				width: 100%;
				resize: vertical;
				background: #68a097;
				border: 0;
				border-radius: 5px;
				margin-bottom: 30px;
				padding: 15px 0 0 20px;
			}

			input[type='submit'] {
				display: block;
				background: #df5c64;
				cursor: pointer;
				width: 260px;
				text-transform: uppercase;
				color: #fff;
				border-radius: 5px; 
				font: 900 26px 'Lato', sans-serif;
				line-height: 56px;
				text-align: center;
				max-height: 56px;
				border: 0;
				margin-bottom: 10px;
				box-shadow: 0px 5px 3px 1px #c8535a;
				@media (max-width: 350px) {
					width: 220px;
				}
			}
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  					color: #7bbdb3;
				}
				::-moz-placeholder { /* Firefox 19+ */
  					color: #7bbdb3;
				}
				:-ms-input-placeholder { /* IE 10+ */
  					color: #7bbdb3;
				}
				:-moz-placeholder { /* Firefox 18- */
  					color: #7bbdb3;
				}	
		}
	}


.footer {
	width: 100%;
	background: #68a097;
	padding: 30px 0 30px 0;
	position: absolute;
	bottom: 0;
	@media (max-width: 1200px) {
		position: relative;
}
	@media (max-width: 420px) {
		padding: 20px 0 20px 0;
}

	.socials {
		display: flex;
		list-style: none;
		align-items: center;

		a {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: #fff;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: #82c8bd;
		margin-right: 40px;
		font-size: 26px;
		@media (max-width: 420px) {
			font-size: 16px;
			margin-right: 10px;
			width: 40px;
			height: 40px;
		}
		}
	}
} 

}
