.header {
	justify-content: space-between;
	display: flex;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 90;

	.logo {
		padding-top: 35px;
	}

	.nav {
		position: relative;
		top: 0;
		display: block;
		transition: right 0.3s ease;

		.btn-nav {
			position: relative;
			top: 20px;
			right: 27px;
			width: 40px;
			height: 40px;
			background: rgba(255,255,255, 0.4);
			border-radius: 5px;
			display: none;
		}

		.btn-nav span,
		.btn-nav:after,
		.btn-nav:before {
			content: '';
			position: absolute;
			left: 5px;
			right: 5px;
			height: 4px;
			background: #74c7d5;
			top: 50%;
			margin-top: -2px;
			border-radius: 2px;
			transition: all 0.3s ease;
		}

		.btn-nav:after {
			margin: 7px 0 0;
		}

		.btn-nav:before {
			margin-top: -11px;
		}

		

	 ul {
		list-style: none;
		display: flex;
		padding: 15px 0 0;

		 a{
			text-decoration: none;
			color: #fff;
			display: block;
			font: 18px 'Lato', sans-serif;
			padding: 25px 25px 15px 25px;
			
			&:hover {
				border-radius:0 0 3px 3px;
				padding-top: 40px;
				margin-top: -15px;
			}

			&.Home-color:hover {
				background-color: #74c7d5;
			}

			&.Services-color:hover {
				background-color: #df5c64;
			}

			&.About-color:hover {
				background-color: #91778e;
			}

			&.Work-color:hover {
				background-color: #a1ca6c;
			}

			&.Contact-color:hover {
				background-color: #82c8bd;
			}

		}	
	}

}
}
.nav-active .header .nav .btn-nav span {
			opacity: 0;
		}

		.nav-active .header .nav .btn-nav:after {
			transform: rotate(-45deg);
			margin: 0;
		}

		.nav-active .header .nav .btn-nav:before {
			transform: rotate(45deg);
			margin: 0;
		}
@media (max-width: 725px) {
			.header .nav .btn-nav {
				display: block;
				transition: right 0.3s ease;
			}

			.nav-active .header .nav .btn-nav {
				right: 240px;
			}

			.header .container {
				position: relative;
			}

			.nav ul {
				position: fixed;
				right: -240px;
				background: #74c7d5;
				color: #fff;
				width: 240px;
				top: 0;
				min-height: 100vh;
				flex-direction: column;
				transition: right 0.3s ease;
				a {
					width: 100%;
					text-align: left;
					margin-bottom: 15px;
					&:hover {
						opacity: .7;
					}

				}
			}
			.nav-active .nav ul {
				right: 0;
			}
			
		}

.section-visual {
	height: 100vh;
	background-size: cover;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

.title {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	opacity: .8;
	color: #74c7d5;
	max-width: 840px;
	width: 100%;
	border-radius: 3px;
	padding: 10px 0;
	align-items: center;
	margin: 0 auto;

	.title1 {
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		font: 300 60px/1 'Lato', sans-serif;
		position: relative;
		top: 4px;

		.head1 {
			text-transform: uppercase;
		}

}

	.head3 {
	font: 900 138.48px 'Lato', sans-serif;
	text-transform: uppercase;
	@media (max-width: 475px) {
		font-size: 100px;
	}
	@media (max-width: 350px) {
		font-size: 80px;
	}
	}

}
	@media (max-width: 960px) {
		.title {
			flex-direction: column;
			.title1 {
				width: 100%;
				justify-content: center;
				align-items: center;
				span {
					text-align: center;
				}

		}
	}
 }
}